# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [8]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
df_pokemon = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [27]:
type(df_pokemon['Type 2'].unique())

numpy.ndarray

In [32]:
distinct_values = pd.DataFrame([df_pokemon['Type 1'].unique(),df_pokemon['Type 2'].unique()],index=['Type 1','Type 2']).transpose()
distinct_values

      Type 1    Type 2
0      Grass    Poison
1       Fire       NaN
2      Water    Flying
3        Bug    Dragon
4     Normal    Ground
5     Poison     Fairy
6   Electric     Grass
7     Ground  Fighting
8      Fairy   Psychic
9   Fighting     Steel
10   Psychic       Ice
11      Rock      Rock
12     Ghost      Dark
13       Ice     Water
14    Dragon  Electric
15      Dark      Fire
16     Steel     Ghost
17    Flying       Bug
18      None    Normal

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [46]:
'VenusaurMega Venusaur'.split('Mega')

['Venusaur', ' Venusaur']

In [50]:
# your code here
#df_pokemon[df_pokemon['Name'].str.contains('Mega')]
df_pokemon['Name'] = df_pokemon['Name'].apply(lambda name:'Mega' + name.split("Mega")[1] if 'Mega' in name else name)

In [53]:
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [56]:
df_pokemon['A/D Ration'] = round(df_pokemon['Attack'] /  df_pokemon['Defense'],2)
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ration
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.67
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.45
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.83
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.67
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.92

#### Identify the pokemon with the highest `A/D Ratio`.

In [63]:
df_pokemon.sort_values('A/D Ration',ascending=False).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ration
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [64]:
df_pokemon.sort_values('A/D Ration',ascending=True).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ration
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [96]:
def combo(row):
    if type(row['Type 1']) == str and type(row['Type 2']) == str:
        return f"{row['Type 1']}+{row['Type 2']}"
    elif type(row['Type 1']) == str:
        return row['Type 1']
    else:
        return row['Type 2']

df_pokemon['Combo Type'] = df_pokemon.apply(combo, axis=1)
df_pokemon.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ration,Combo Type
608,548,Petilil,Grass,NaN,280,45,35,50,70,50,30,5,False,0.70,Grass
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False,1.10,Fire
72,66,Machop,Fighting,NaN,305,70,80,50,35,35,35,1,False,1.60,Fighting
449,404,Luxio,Electric,NaN,363,60,85,49,60,49,60,4,False,1.73,Electric
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False,0.61,Electric+Fire
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True,0.83,Ghost+Dragon
41,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False,0.96,Fairy
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False,0.70,Ghost+Grass
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False,1.02,Fire
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [99]:
five_best_pokemon = df_pokemon.sort_values('A/D Ration',ascending=False).head(5)

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [186]:
best_combo = list(five_best_pokemon['Combo Type'].unique())
best_combo

['Psychic', 'Water+Dark', 'Bug+Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [240]:
grouped_by_combo = df_pokemon.groupby('Combo Type')
rows = []
for name, group in grouped_by_combo:
    if name in best_combo:
        rows.append(round(group.select_dtypes(include = np.number).mean(),2))
result = pd.DataFrame(rows,index=sorted(best_combo), columns = df_pokemon.select_dtypes(include = np.number).columns)
result

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ration
Bug+Poison,199.17,347.92,53.75,68.33,58.08,42.50,59.33,65.92,2.33,1.32
Psychic,381.97,464.55,72.55,64.95,67.24,98.55,82.39,78.87,3.34,1.16
Rock,410.11,409.44,67.11,103.33,107.22,40.56,58.33,32.89,3.89,1.26
Water+Dark,347.67,493.83,69.17,120.00,65.17,88.83,63.50,87.17,3.17,2.29