# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [43]:
# Import libraries
import numpy as np
import pandas as pd

In [44]:
# Importing the dataset
pokemon=pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [45]:
# your code here
#Hypothesis: Total column is the sum of HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed. Let's see:
pokemon['Sum'] =pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['Sp. Atk']+pokemon['Sp. Def']+pokemon['Speed']


pokemon[['Total','Sum']] #apparently they are equal. But we can't yet ensure that.

pokemon['Total'].equals(pokemon['Sum']) #Ok, yes, in fact they are equal.

True

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [59]:
# your code here
pokemon.head()
#Unique valeus for Type 1 and Type 2:
list(pokemon['Type 1'].unique()) , list(pokemon['Type 2'].unique())

[array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
        'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
        'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object),
 array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
        'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
        'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)]

In [47]:
#THIS IS ONE WAY OF DOING ONE HOT ENCONDING
#IN THIS CASE IT DOESN'T WORK BECAUSE TYPE1 AND TYPE2 COLUMNS HAVE VALUES IN COMMON
# Get one hot encoding of columns Type 1
#one_hot_type1 = pd.get_dummies(pokemon['Type 1'])
#Same for type 2:
#one_hot_type2 = pd.get_dummies(pokemon['Type 2'])

# Drop Type 1 and Type 2 as it is now encoded:
#pokemon = pokemon.drop('Type 1',axis = 1)
#pokemon = pokemon.drop('Type 2',axis = 1)

# Join the encoded df- HERE I GET AN ERROR:
#pokemon = pokemon.join(one_hot_type1)
#pokemon = pokemon.join(one_hot_type2)

#pokemon.head()

In [56]:
#ONE HOT ENCODING FOR MULTIPLE COLUMNS:
#output_df = (pd.get_dummies(pokemon, columns=['Type 1', 'Type 2'], prefix_sep='', prefix='').max(axis=1, level=0)) 
# max(axis=1, level=0)) LEVEL will be soon deprecated and needs to be change to groupby()
output_pokemon = (pd.get_dummies(pokemon, columns=['Type 1', 'Type 2'], prefix_sep='', prefix='').groupby(axis=1,level=0).max())
output_pokemon #I also include pokemon columns, not only the new encoded colums from Type1 and 2

,#,Attack,Bug,Dark,Defense,Dragon,Electric,Fairy,Fighting,Fire,...,Poison,Psychic,Rock,Sp. Atk,Sp. Def,Speed,Steel,Sum,Total,Water
0,1,49,0,0,49,0,0,0,0,0,...,1,0,0,65,65,45,0,318,318,0
1,2,62,0,0,63,0,0,0,0,0,...,1,0,0,80,80,60,0,405,405,0
2,3,82,0,0,83,0,0,0,0,0,...,1,0,0,100,100,80,0,525,525,0
3,3,100,0,0,123,0,0,0,0,0,...,1,0,0,122,120,80,0,625,625,0
4,4,52,0,0,43,0,0,0,0,1,...,0,0,0,60,50,65,0,309,309,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,100,0,0,150,0,0,1,0,0,...,0,0,1,100,150,50,0,600,600,0
796,719,160,0,0,110,0,0,1,0,0,...,0,0,1,160,110,110,0,700,700,0
797,720,110,0,0,60,0,0,0,0,0,...,0,1,0,150,130,70,0,600,600,0
798,720,160,0,1,60,0,0,0,0,0,...,0,1,0,170,130,80,0,680,680,0
799,721,110,0,0,120,0,0,0,0,1,...,0,0,0,130,90,70,0,600,600,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [ ]:
# your code here
#Examplo for correlation between 2 columns:
#corr=output_pokemon['Total'].corr(output_pokemon['Grass'])

In [73]:
type1list=list(pokemon['Type 1'].unique()) 
type2list=list(pokemon['Type 2'].unique()) 

type2list.remove(type2list[1]) #Remove NaN

In [76]:
sorted(type1list)==sorted(type2list) #Both list (without Nan in Type 2) are equal

True

In [82]:
type1list

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [84]:
output_pokemon[type1list]

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
799,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [89]:
correlation_values = output_pokemon[type1list].corrwith(pokemon['Total'])
correlation_values.sort_values(ascending=False) #greater correlation for column Dragon#####

Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [91]:
pokemon[pokemon['Type 1']==pokemon['Type 2']] #there isn't any pokemon with same value for type 1 and type 2
#If there was any, this could case problems because encoded columns have 0 or 1 value, not 2.

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Sum]
Index: []

In [ ]:
# I already did the correlation of total agains encoded columns of botwh Type 1 and type 2 columns.